//
   Created by Quentin on 27/02/2017.

extends layout

block content
    p Welcome to the #{name} #{player} !
    p Firstname: #{firstname}
    p Lastname: #{lastname}
    p Jersey: #{jersey}
    p Position: #{position}
    p Points: #{pts}
    p Assists: #{assists}
    p Rebounds: #{rebounds}
    p Pie: #{pie}