//
   Created by Quentin on 27/02/2017.

extends layout

block content
    p Welcome to the  #{team} !
    p Wins:  #{wins}
    p Losses: #{losses}
    p Ranking conference: #{confRank}
    p teamConference: #{teamConference}